{% for item in items %}
<div class="card p-3 mb-4 shadow-sm">
    <div class="card-header bg-primary text-white">
        <h5 class="font-weight-bold">Chick Item</h5>
    </div>
    <div class="card-body">
        <p><strong>Item code:</strong> {{ item.item.code }}</p>
        <p><strong>Chicks Batch Number:</strong> {{ item.batchnumber }}</p>
        <p><strong>Source:</strong> {{ item.source }}</p>
        <p><strong>Breed:</strong> {{ item.breed.breed }}</p>
        <p><strong>Customer:</strong> {{ item.customer.first_name }} {{ item.customer.last_name }}</p>
        <p><strong>Breed:</strong> {{ item.breed.breed }} ({{ item.breed.poultry_type }})</p>
        <p><strong>Number of Chicks:</strong> {{ item.number }}</p>
        <p><strong>Note:</strong> {{ item.description }}</p>
        <p><strong>Recorded at:</strong> {{ item.created }}</p>
        <p><strong>Verified on blockchain:</strong> {{ item.created }}</p>
        <p><strong>Blockchain txHash:</strong> {{ item.item.txHash }}</p>
        <p><strong>Blockchain policy Id:</strong> {{ item.item.policyId }}</p>
        {% if item.chick_photo %}
            <img src="{{ item.chick_photo.url }}" alt="Chick photo" style="width: 100%; max-width: 300px;">
        {% endif %}

        <div class="d-flex justify-content-between mt-3">
            {% if item.id %}
                <button data-egg-id="{{ item.id }}" class="btn btn-info load-chick-delete">Chick Detail</button>
                <button class="btn btn-outline-secondary" onclick="window.open('https://preprod.cardanoscan.io/transaction/{{ item.item.txHash }}?tab=metadata', '_blank')">See on Blockchain</button>
            {% endif %}
        </div>
        <div id="chick-detail-{{ item.id }}"></div>
    </div>
</div>
{% endfor %}