{% for egg_setting in egg_settings %}

<div class="card p-3 mb-4 shadow-sm">
    <div class="card-header bg-primary text-white">
        <h5 class="font-weight-bold">Egg Setting</h5>
    </div>
    <div class="card-body">
        <p><strong>Setting Code:</strong> {{ egg_setting.settingcode }}</p>
        <p><strong>Item Request (Item):</strong> 
            {% if egg_setting.item_request%}
                {{ egg_setting.item_request.code }} ({{ egg_setting.item_request.item.code }})
            {% endif %}
        </p>
        <p><strong>Egg Batch:</strong> {{ egg_setting.egg.batchnumber }}</p>
        <p><strong>Incubator:</strong> {{ egg_setting.incubator.code }}</p>
        <p><strong>Breeders:</strong> {{ egg_setting.breeders.breed.breed }} ({{ egg_setting.breeders.breed.poultry_type }})</p>
        <p><strong>Number of Eggs:</strong> {{ egg_setting.eggs }}</p>
        <p><strong>Available Eggs:</strong> {{ egg_setting.available_quantity }}</p>
        <p><strong>Recorded at:</strong> {{ egg_setting.created|date:"Y-m-d H:i" }}</p>
        <p><strong>Blockchain txHash:</strong><a target="_blank" href="https://preprod.cardanoscan.io/transaction/{{ egg_setting.egg_setting.txHash }}">{{ egg_setting.egg_setting.txHash }}</a></p>
        <p><strong>Blockchain policy Id:</strong><a target="_blank" href="https://preprod.cardanoscan.io/tokenPolicy/{{ egg_setting.egg_setting.policyId }}">{{ egg_setting.egg_setting.policyId }}</a></p>

        <div class="d-flex justify-content-between mt-3">
            {% if egg_setting.is_approved %}
                <button data-egg-setting-id="{{ egg_setting.id }}" data-item-request-id="{{ egg_setting.item_request.id }}" class="btn btn-info load-approval">Egg Setting Approval Detail</button>
            {% endif %}

            <button class="btn btn-outline-secondary" onclick="window.open('https://preprod.cardanoscan.io/transaction/{{ egg_setting.txHash }}?tab=metadata', '_blank')">Proof on Blockchain</button>
        </div>
        <div id="approval-detail-{{ egg_setting.id }}"></div>
    </div>
</div>
{% endfor %}