{% extends 'dashboard.html' %}
{% load static %}

{% block main %}
<div class="row mb-5">
  <div class="col-lg-10 mx-auto my-4 mt-lg-0 mt-4">
    <!-- Card Profile -->
    <div class="card card-body" id="profile">
      <div class="row justify-content-left align-items-left">
        <div class="col-sm-auto col-4">
          <div class="avatar avatar-xl position-relative">
            {% if customer.photo %}
              <img src="{{ customer.photo.url }}" alt="{{ customer.full_name }}" class="w-100 h-300 border-radius-lg shadow-sm">
            {% else %}
              <img src="{% static 'assets/img/default-avatar.png' %}" alt="Default Avatar" class="w-100 border-radius-lg shadow-sm">
            {% endif %}
          </div>
        </div>
        <div class="col-sm-auto col-8 my-auto">
          <div class="h-100">
            <h5 class="mb-1 font-weight-bolder">
              {{ customer.first_name }} {{ customer.last_name }}
            </h5>
          </div>
        </div>
      </div>
    </div>
    
    <!-- Card Basic Info -->
    <div class="card mt-4" id="basic-info">
      <div class="card-header">
        <h5>Basic Info</h5>
      </div>
      <div class="card-body pt-0">
        <form method="post" action="{% url 'customer_update' customer.full_name %}">
          {% csrf_token %}
          <div class="row">
            <div class="col-6">
              <label class="form-label">First Name</label>
              <div class="input-group">
                <input id="firstName" name="first_name" class="form-control" type="text" value="{{ customer.first_name }}" required="required">
              </div>
            </div>
            <div class="col-6">
              <label class="form-label">Last Name</label>
              <div class="input-group">
                <input id="lastName" name="last_name" class="form-control" type="text" value="{{ customer.last_name }}" required="required">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <label class="form-label mt-4">Email</label>
              <div class="input-group">
                <input id="email" name="email" class="form-control" type="email" value="{{ customer.email }}" placeholder="example@email.com">
              </div>
            </div>
            <div class="col-6">
              <label class="form-label mt-4">Phone Number</label>
              <div class="input-group">
                <input id="phone" name="phone" class="form-control" type="text" value="{{ customer.phone }}" placeholder="+40 735 631 620">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <label class="form-label mt-4">Address</label>
              <div class="input-group">
                <input id="address" name="address" class="form-control" type="text" value="{{ customer.address }}" placeholder="123 Main St">
              </div>
            </div>
            <div class="col-6">
              <label class="form-label mt-4">Location</label>
              <div class="input-group">
                <input id="location" name="location" class="form-control" type="text" value="{{ customer.location }}" placeholder="Sydney, A">
              </div>
            </div>
          </div>
          <button class="btn bg-gradient-dark btn-sm mt-4" type="submit">Update Info</button>
        </form>
      </div>
    </div>

    <!-- Card Notifications -->
    <div class="card mt-4" id="notifications">
      <div class="card-header">
        <h5>Notifications</h5>
        <p class="text-sm">Choose how you receive notifications. These notification settings apply to your account.</p>
      </div>
      <div class="card-body pt-0">
        <form method="post" action="{% url 'customer_update_notifications' customer.full_name %}">
          {% csrf_token %}
          <div class="table-responsive">
            <table class="table mb-0">
              <thead>
                <tr>
                  <th class="ps-1" colspan="4">
                    <p class="mb-0">Activity</p>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="ps-1" colspan="4">
                    <div class="my-auto">
                      <span class="text-dark d-block text-sm">SMS</span>
                      <span class="text-xs font-weight-normal">Notify when another user mentions you in a comment</span>
                    </div>
                  </td>
                  <td>
                    <div class="form-check form-switch mb-0 d-flex align-items-center justify-content-center">
                      <input class="form-check-input" type="checkbox" name="notify_mentions_email" {% if customer.notification_sms %}checked{% endif %}>
                    </div>
                  </td>
                </tr>
                <tr>
                    <td class="ps-1" colspan="4">
                      <div class="my-auto">
                        <span class="text-dark d-block text-sm">Follow Up</span>
                        <span class="text-xs font-weight-normal">Notify when Followup Occurs</span>
                      </div>
                    </td>
                    <td>
                      <div class="form-check form-switch mb-0 d-flex align-items-center justify-content-center">
                        <input class="form-check-input" type="checkbox" name="notify_mentions_email" {% if customer.notification_sms %}checked{% endif %}>
                      </div>
                    </td>
                  </tr>
                <tr>
                  <td class="ps-1" colspan="4">
                    <div class="my-auto">
                      <span class="text-dark d-block text-sm">Delivery</span>
                      <span class="text-xs font-weight-normal">Notify when delivery arrives.</span>
                    </div>
                  </td>
                  <td>
                    <div class="form-check form-switch mb-0 d-flex align-items-center justify-content-center">
                      <input class="form-check-input" type="checkbox" name="notify_comments_email" {% if customer.notification_sms %}checked{% endif %}>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <button class="btn bg-gradient-dark btn-sm mt-4" type="submit">Update Notifications</button>
        </form>
      </div>
    </div>

    <!-- Card Delete Account -->
    <div class="card mt-4" id="delete">
      <div class="card-header">
        <h5>Delete Account</h5>
        <p class="text-sm mb-0">Once you delete your account, there is no going back. Please be certain.</p>
      </div>
      <div class="card-body d-sm-flex pt-0">
        <button class="btn bg-gradient-danger mb-0 ms-auto" type="button" data-bs-toggle="modal" data-bs-target="#deleteModal">Delete Account</button>
      </div>
    </div>

    <!-- Delete Confirmation Modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="deleteModalLabel">Confirm Deletion</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p>Are you sure you want to delete your account? This action cannot be undone.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            <form action="{% url 'customer_delete' customer.full_name %}" method="post" class="d-inline">
              {% csrf_token %}
              <button type="submit" class="btn btn-danger">Delete Account</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}