amqp
asgiref
backcall
bcrypt
billiard
boto
celery
certifi
cffi
chardet
coverage
cryptography
decorator
defusedxml
diff-match-patch
django
django-appconf
django-axes
django-braces
django-compressor
django-countries
django-crispy-forms
django-datatables-view
django-debug-toolbar
django-dynamic-formsets
django-extensions
django-formtools
django-grappelli
django-import-export
django-ipware
django-simple-history
django-sticky-messages
django-storages
django-taggit
django-timezone-field
django-wysiwyg-redactor
djangorestframework
docopt
et-xmlfile
fabric
factory-boy
Faker
gunicorn
idna
importlib-metadata
invoke
ipdb
ipython
ipython-genutils
jdcal
jedi
kombu
mailchimp3
MarkupPy
newrelic
oauthlib
odfpy
openpyxl
paramiko
parso
pexpect
pickleshare
Pillow
prompt-toolkit
psycopg2-binary
ptyprocess
pycparser
pycryptodome
Pygments
PyNaCl
PySocks
python-dateutil
python-magic
pytz
PyYAML
rcssmin
reportlab
requests
requests-oauthlib
rjsmin
six
sqlparse
tablib
text-unidecode
traitlets
tweepy
urllib3
vine
wcwidth
xlrd
xlwt
zipp