{% extends 'dashboard.html' %}
{% load static %}

{% block main%}
<div class="row">
  <div class="col-12">
    <div class="multisteps-form">
      <div class="row">
        <div class="col-12">
            <div class="multisteps-form">
                <div class="row">
                    <div class="col-12">
                        <div class="multisteps-form">
                            <div class="row">
                                <div class="col-12 col-lg-8 mx-auto my-4">
                                  <div class="card">
                                    <div class="card-body">
                                      <div class="multisteps-form__progress">
                                        <button class="multisteps-form__progress-btn js-active" type="button" title="User Info">
                                          <span>1. Breeder Info</span>
                                        </button>
                                        <button class="multisteps-form__progress-btn" type="button" title="Contact Info">2. Photos</button>
                                        <button class="multisteps-form__progress-btn" type="button" title="Address">3. Finish</button>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            <!--form panels-->
                            <div class="row">
                                <div class="col-12 col-lg-8 m-auto">
                                    <form class="multisteps-form__form mb-8" method="POST" enctype="multipart/form-data">
                                      {% csrf_token %}
                                        <!--single form panel-->
                                        <div class="card multisteps-form__panel p-3 border-radius-xl bg-white js-active" data-animation="FadeIn">
                                            <h5 class="font-weight-bolder">Breeder Information</h5>
                                            <div class="multisteps-form__content">
                                                <div class="row mt-3">
                                                    
                                                    <div class="col-12 col-sm-6 mt-3 mt-sm-0">
                                                        <label>Breed</label>
                                                        <select class="multisteps-form__input form-control" name="breed">
                                                            {% for breed in breeds %}
                                                                <option value="{{ breed.pk }}">{{ breed.breed }}</option>
                                                            {% endfor %}
                                                        </select>
                                                        {% if errors.breed %}
                                                            <small class="text-danger">{{ errors.breed }}</small>
                                                        {% endif %}
                                                    </div>
                                                    <div class="col-12 col-sm-6">
                                                        <label>Hens</label>
                                                        <input class="multisteps-form__input form-control" type="number" placeholder="e.g., 50" name='hens'/>
                                                        {% if errors.hens %}
                                                            <small class="text-danger">{{ errors.hens }}</small>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                                <div class="row mt-3">
                                                    
                                                    <div class="col-12 col-sm-6 mt-3 mt-sm-0">
                                                        <label>Cocks</label>
                                                        <input class="multisteps-form__input form-control" type="number" placeholder="e.g., 10" name='cocks'/>
                                                        {% if errors.cocks %}
                                                            <small class="text-danger">{{ errors.cocks }}</small>
                                                        {% endif %}

                                                    </div>
                                                    <div class="col-12 col-sm-6">
                                                        <label>Mortality Rate (%)</label>
                                                        <input class="multisteps-form__input form-control" type="number" placeholder="e.g., 5.0" step="0.01" name='mortality' value=0/>
                                                        {% if mortality%}
                                                        <small class="text-danger">{{ errors.mortality }}</small>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                                <div class="row mt-3">
                                                    
                                                    <div class="col-12 col-sm-6 mt-3 mt-sm-0">
                                                        <label>Butchered</label>
                                                        <input class="multisteps-form__input form-control" type="number" placeholder="e.g., 20" name='butchered', value=0/>
                                                        {% if errors.butchered %}
                                                        <small class="text-danger">{{ errors.butchered }}</small>
                                                        {% endif %}
                                                    </div>
                                                    <div class="col-12 col-sm-6">
                                                        <label>Sold</label>
                                                        <input class="multisteps-form__input form-control" type="number" placeholder="e.g., 30" name='sold' value=0/>
                                                        {% if errors.sold %}
                                                        <small class="text-danger">{{ errors.sold }}</small>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                                
                                                <div class="button-row d-flex mt-4">
                                                    <button class="btn bg-gradient-dark ms-auto mb-0 js-btn-next" type="button" title="Next">Next</button>
                                                </div>
                                            </div>
                                        </div>
                                        <!--single form panel-->
                                        <div class="card multisteps-form__panel p-3 border-radius-xl bg-white" data-animation="FadeIn">
                                            <h5 class="font-weight-bolder">Photos</h5>
                                            <div class="multisteps-form__content">
                                                <div class="row mt-3">
                                                    <div class="col-12 col-sm-6">
                                                        <label>Hens Photo</label>
                                                        <input type="file" class="form-control" name='hens_photo' accept=".jpg,.jpeg,.png"/>
                                                        {% if errors.hens_photo%}
                                                        <small class="text-danger">{{ errors.hens_photo }}</small>
                                                        {% endif %}
                                                    </div>
                                                    <div class="col-12 col-sm-6 mt-3 mt-sm-0">
                                                        <label>Cocks Photo</label>
                                                        <input type="file" class="form-control" name='cocks_photo' accept=".jpg,.jpeg,.png"/>
                                                        {% if errors.cocks_photo %}
                                                        <small class="text-danger">{{ errors.cocks_photo }}</small>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                                <div class="button-row d-flex mt-4">
                                                    <button class="btn bg-gradient-secondary mb-0 js-btn-prev" type="button" title="Prev">Prev</button>
                                                    <button class="btn bg-gradient-dark ms-auto mb-0 js-btn-next" type="button" title="Next">Next</button>
                                                </div>
                                            </div>
                                        </div>
                                        <!--single form panel-->
                                        <div class="card multisteps-form__panel p-3 border-radius-xl bg-white" data-animation="FadeIn">
                                            <h5 class="font-weight-bolder">Finish</h5>
                                            <div class="multisteps-form__content mt-3">
                                                <div class="row">
                                                    <div class="col-12">
                                                        <p class="font-weight-bold">Review your information and click "Submit" to create the new breeder.</p>
                                                    </div>
                                    </div>
                                    <div class="button-row d-flex mt-4">
                                        <button class="btn bg-gradient-secondary mb-0 js-btn-prev" type="button" title="Prev">Prev</button>
                                        <button class="btn bg-gradient-dark ms-auto mb-0" type="submit" title="Submit">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    </div>
  </div>
</div>
{%endblock%}