{% extends 'dashboard.html' %}

{% load static %}
{% block main %}
<div class="container-fluid py-4">
    <style>
      /* Set a fixed height for the images */
      .swiper-slide img {
        width: 100%; /* Ensure the image takes the full width of the slide */
        height: 300px; /* Set a fixed height */
        object-fit: cover; /* Maintain aspect ratio and cover the area */
        border-radius: 0.5rem; /* Optional: to match your existing border-radius */
      }
    </style>
    
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="row">
        <div class="col-lg-6">
          <h4 class="text-white">Make the changes below</h4>
          <p class="text-white opacity-8">View and update the  information below.

</p>
        </div>
        <div class="col-lg-6 text-right d-flex flex-column justify-content-center">
          {% comment %} {% if request.resolver_match.url_name == 'breeders_update' %} {% endcomment %}
            <button type="submit" class="btn btn-outline-white mb-0 ms-lg-auto me-lg-0 me-auto mt-lg-0 mt-2">Save Changes</button>
          {% comment %} {% endif %} {% endcomment %}
          {% if request.resolver_match.url_name == 'breeders_delete' %}
            <button type="submit" class="btn btn-outline-white mb-0 ms-lg-auto me-lg-0 me-auto mt-lg-0 mt-2">Confirm Delete</button>
          {% endif %}
        </div>
      </div>
  
      <div class="row mt-4">
        <div class="col-lg-4">
          <div class="card h-100">
            <div class="card-body">
              <h5 class="font-weight-bolder text-center">Breeder Photos</h5>
              <div class="swiper mySwiper">
                <div class="swiper-wrapper">
                  <!-- Front Photo Slide -->
                  <div class="swiper-slide">
                    <h6>Hens Photo</h6>
                    {% if breeder.hens_photo %}
                    <img class="w-100 border-radius-lg shadow-lg mx-auto" src="{{ breeder.hens_photo.url }}" alt="{{ breeder.batch }} Hens Photo">
                    {% else %}
                      <img class="w-100 border-radius-lg shadow-lg mx-auto" src="{% static 'images/default-image.jpg' %}" alt="Default Image">
                    {% endif %}
                    <input type="file" class="form-control mt-3" name="hens_photo">
                    {% if errors.hens_photo%}
                        <small class="text-danger">{{ errors.hens_photo }}</small>
                    {% endif %}

                  </div>
  
                  <!-- Cocks Photo Slide -->
                  <div class="swiper-slide">
                    <h6>Cocks Photo</h6>
                    {% if breeder.cocks_photo %}
                    <img class="w-100 border-radius-lg shadow-lg mx-auto" src="{{ breeder.cocks_photo.url }}" alt="{{ breeder.batch }} Cocks Photo">
                    {% else %}
                      <img class="w-100 border-radius-lg shadow-lg mx-auto" src="{% static 'images/default-image.jpg' %}" alt="Default Image">
                    {% endif %}
                    <input type="file" class="form-control mt-3" name="cocks_photo">
                    {% if errors.cocks_photo%}
                        <small class="text-danger">{{ errors.cocks_photo }}</small>
                    {% endif %}
                  </div>
                </div>
                <hr/>
                <br/>
                <div class="swiper-pagination"></div>
              </div>
            </div>
          </div>
        </div>
  
        <div class="col-lg-8 mt-lg-0 mt-4">
          <div class="card">
            <div class="card-body">
              <h5 class="font-weight-bolder">Breeder Information</h5>
              <div class="row">
                <div class="col-12 col-sm-6">
                  <label>Batch</label>
                  <input class="form-control" type="text" name="batch" value="{{ breeder.batch }}" disabled>
                </div>
                <div class="col-12 col-sm-6 mt-3 mt-sm-0">
                  <label>Breed</label>
                  <select class="multisteps-form__input form-control" name="breed">
                    <option value="">{{breeder.breed.breed}}</option>
                    {% for breed in breeds %}
                        <option value="{{ breed.id }}">{{ breed.breed }}</option>
                    {% endfor %}
                </select>
                </div>
              </div>
              <div class="row">
                <div class="col-12 col-sm-6 mt-3">
                  <label>Hens</label>
                  <input class="form-control" type="number" name="hens" value="{{ breeder.hens|default:'N/A' }}">
                  {% if errors.hens%}
                  <small class="text-danger">{{ errors.hens }}</small>
                  {% endif %}
                </div>
                <div class="col-12 col-sm-6 mt-3">
                  <label>Cocks</label>
                  <input class="form-control" type="number" name="cocks" value="{{ breeder.cocks|default:'N/A' }}">
                  {% if errors.cocks%}
                  <small class="text-danger">{{ errors.cocks }}</small>
                  {% endif %}
                </div>
              </div>
              <div class="row">
                <div class="col-12 col-sm-6 mt-3">
                  <label>Mortality Rate (%)</label>
                  <input class="form-control" type="number" name="mortality" value="{{ breeder.mortality|default:0 }}">
                  {% if errors.mortality%}
                  <small class="text-danger">{{ errors.mortality }}</small>
                  {% endif %}
                </div>
                <div class="col-12 col-sm-6 mt-3">
                  <label>Butchered</label>
                  <input class="form-control" type="number" name="butchered" value="{{ breeder.butchered|default:0 }}">
                  {% if errors.butchered %}
                  <small class="text-danger">{{ errors.butchered }}</small>
                  {% endif %}
                </div>
              </div>
              <div class="row">
                <div class="col-12 col-sm-6 mt-3">
                  <label>Sold</label>
                  <input class="form-control" type="number" name="sold" value="{{ breeder.sold|default:0 }}">
                  {% if errors.sold %}
                  <small class="text-danger">{{ errors.sold }}</small>
                  {% endif %}
                </div>
                <div class="col-12 col-sm-6 mt-3">
                  <label>Current Number</label>
                  <input class="form-control" type="number" name="current_number" value="{{ breeder.current_number|default:'N/A' }}">
                </div>
              </div>
              <div class="row">
                <div class="col-12 mt-3">
                  <label>Description</label>
                  <textarea class="form-control" rows="5" name="description">{{ breeder.description }}</textarea>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
{% endblock %}
