{% extends 'dashboard.html' %}
{% load static %}

{% block main%}
<div class="row">
  <div class="col-12">
    <div class="multisteps-form">
      <div class="row">
        <div class="col-12">
            <div class="multisteps-form">
                <div class="row">
                    <div class="col-12">
                        <div class="multisteps-form">
                            <div class="row">
                                <div class="col-12 col-lg-8 mx-auto my-4">
                                  <div class="card">
                                    <div class="card-body">
                                      <div class="multisteps-form__progress">
                                        <button class="multisteps-form__progress-btn js-active" type="button" title="User Info">
                                          <span>1. Chick Info</span>
                                        </button>
                                        <button class="multisteps-form__progress-btn" type="button" title="Address">2. Finish</button>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            <!--form panels-->
                            <div class="row">
                                <div class="col-12 col-lg-8 m-auto">
                                    <form class="multisteps-form__form mb-8" method="POST"  enctype="multipart/form-data">
                                      {% csrf_token %}
                                        <!--single form panel-->
                                        <div class="card multisteps-form__panel p-3 border-radius-xl bg-white js-active" data-animation="FadeIn">
                                            <h5 class="font-weight-bolder">Chick Information</h5>
                                            <div class="multisteps-form__content">
                                                <div class="row mt-3">
                                                    <div class="col-12 col-sm-6 mt-3 mt-sm-0">
                                                        <label>Item</label>
                                                        <select class="multisteps-form__input form-control" name="item">
                                                            <option value="" disabled selected>Select an Item</option>
                                                            <option value="None">None</option>
                                                            {% for item in items %}
                                                                <option value="{{ item.pk }}">{{ item.code }}-{{item.item_type.type_name}}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                    <div class="col-12 col-sm-6 mt-3 mt-sm-0">
                                                        <label>Breed</label>
                                                        <select class="multisteps-form__input form-control" name="breed">
                                                            {% for breed in breeds %}
                                                                <option value="{{ breed.pk }}">{{ breed.breed }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="row mt-3">
                                                    <div class="col-12 col-sm-6 mt-3 mt-sm-0">
                                                        <label for="source" class="form-label">Source</label>
                                                        <select class="form-control" name="source" id="source" required>
                                                            <option value="" disabled selected>Select a source</option>
                                                            <option value="customer">Customer</option>
                                                            <option value="hatching">Hatching</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-12 col-sm-6 mt-3 mt-sm-0">
                                                        <label>Age</label>
                                                        <input class="multisteps-form__input form-control" type="date" placeholder="e.g., 10" name='age'/>
                                                    </div>
                                                </div>
                                                <div class="row mt-3">
                                                    <div class="col-12 col-sm-6">
                                                        <label>Chick Photo</label>
                                                        <input class="multisteps-form__input form-control" type="file" class="form-control" name='chick_photo'/>
                                                    </div>
                                                    <div class="col-12 col-sm-6" id="customerField" style="display: none;">
                                                        <label>Customer</label>
                                                        <select class="multisteps-form__input form-control" name="customer">
                                                            <option value="">Select a Customer</option>
                                                            {% for customer in customers %}
                                                                <option value="{{ customer.id }}">{{ customer.full_name }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                    <div class="col-12 col-sm-6" id="hatchingField" style="display: none;">
                                                        <label>Hatching</label>
                                                        <select class="multisteps-form__input form-control" name="hatching">
                                                            <option value="">Select Hatching</option>
                                                            {% for hatching in hatchings %}
                                                                <option value="{{ hatching.hatchingcode }}">{{ hatching.hatchingcode }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="row mt-3">
                                                    <div class="col-12 col-sm-6">
                                                        <label>Number</label>
                                                        <input class="multisteps-form__input form-control" type="number" placeholder="e.g., 500" name='number'/>
                                                    </div>
                                                </div>
                                                <div class="row mt-3">
                                                    <div class="col-12 col-sm-12 mt-3 mt-sm-0">
                                                        <label>Description</label>
                                                        <textarea class="multisteps-form__input form-control" rows="5" name="description" placeholder="Any additional details about the manufacturer..."></textarea>
                                                    </div>
                                                </div>
                                                
                                                <div class="button-row d-flex mt-4">
                                                    <button class="btn bg-gradient-dark ms-auto mb-0 js-btn-next" type="button" title="Next">Next</button>
                                                </div>
                                            </div>
                                        </div>
    
                                        <!--single form panel-->
                                        <div class="card multisteps-form__panel p-3 border-radius-xl bg-white" data-animation="FadeIn">
                                            <h5 class="font-weight-bolder">Finish</h5>
                                            <div class="multisteps-form__content mt-3">
                                                <div class="row">
                                                    <div class="col-12">
                                                        <p class="font-weight-bold">Review your information and click "Submit" to create the new chick.</p>
                                                    </div>
                                    </div>
                                    <div class="button-row d-flex mt-4">
                                        <button class="btn bg-gradient-secondary mb-0 js-btn-prev" type="button" title="Prev">Prev</button>
                                        <button class="btn bg-gradient-dark ms-auto mb-0" type="submit" title="Submit">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    </div>
  </div>
</div>
<script>
    document.getElementById('source').addEventListener('change', function() {
        var selectedSource = this.value;
        var customerField = document.getElementById('customerField');
        var hatchingField = document.getElementById('hatchingField');
  
        // Reset fields
        customerField.style.display = 'none';
        hatchingField.style.display = 'none';
  
        // Show the relevant field based on the selected source
        if (selectedSource === 'customer') {
            customerField.style.display = 'block';
        } else if (selectedSource === 'hatching') {
            hatchingField.style.display = 'block';
        }
    });
  </script>
{%endblock%}