{% extends 'dashboard.html' %}

{% block main %}
<div class="d-sm-flex justify-content-between">
    <div>
        <a href="{% url 'incubation_create' %}" class="btn btn-icon btn-outline-white">
            New Incubation
        </a>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="table-responsive">
                <table class="table table-flush" id="datatable-search">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Incubation Code</th>
                            <th scope="col">Egg Setting</th>
                            <th scope="col">Customer</th>
                            <th scope="col">Breeders</th>
                            <th scope="col">Number of Eggs</th>
                            <th scope="col">Created</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for incubation in incubations %}
                        <tr>
                            <td>
                                <div class="d-flex align-items-center">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="customCheck{{ incubation.id }}">
                                    </div>
                                    <a href="{% url 'incubation_detail' incubation.incubationcode %}" class="text-decoration-none">
                                        <p class="text-xs font-weight-bold ms-2 mb-0">#{{ incubation.id }}</p>
                                    </a>
                                </div>
                            </td>
                            <td class="font-weight-bold">
                                <span class="my-2 text-xs">{{ incubation.incubationcode }}</span>
                            </td>
                            <td class="text-xs font-weight-bold">
                                <span>{{ incubation.eggsetting.settingcode }}</span>
                            </td>
                            <td class="text-xs font-weight-bold">
                                <span>{{ incubation.customer.first_name }} {{ incubation.customer.last_name }}</span>
                            </td>
                            <td class="text-xs font-weight-bold">
                                <span>{{ incubation.breeders.batch }}</span>
                            </td>
                            <td class="text-xs font-weight-bold">
                                <span class="my-2 text-xs">{{ incubation.eggs|default:"0" }}</span>
                            </td>
                            <td class="text-xs font-weight-bold">
                                <span class="my-2 text-xs">{{ incubation.created|date:"Y-m-d H:i" }}</span>
                            </td>
                            <td class="text-xs font-weight-bold">
                                <div class="d-flex justify-content-left align-items-left">
                                    <a href="https://preprod.cardanoscan.io/transaction/{{ incubation.txHash }}" class="btn btn-link text-secondary" target="_blank"><i class="fas fa-cube"></i></a>
                                    
                                    <a href="{% url 'incubation_detail' incubation.incubationcode %}" class="btn btn-link text-secondary" data-bs-toggle="tooltip" data-bs-original-title="View details">
                                      <i class="fas fa-eye"></i>
                                    </a>
                                    {% comment %}
                                        <a href="{% url 'incubation_update' incubation.incubationcode %}" class="btn btn-link text-secondary" data-bs-toggle="tooltip" data-bs-original-title="Edit Incubation">
                                        <i class="fas fa-user-edit"></i>
                                        </a>
                                        <a href="#" class="btn btn-link text-secondary mx-0" data-bs-toggle="modal" data-bs-target="#deleteModal" data-url="{% url 'incubation_delete' incubation.incubationcode %}">
                                        <i class="fas fa-trash"></i>
                                        </a>
                                    {% endcomment %}
                                  </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <!-- Pagination Section -->
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-end">
                        {% if incubations.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ incubations.previous_page_number }}" tabindex="-1">
                                <i class="fa fa-angle-left"></i>
                                <span class="sr-only">Previous</span>
                            </a>
                        </li>
                        {% else %}
                        <li class="page-item disabled">
                            <a class="page-link" href="javascript:;" tabindex="-1">
                                <i class="fa fa-angle-left"></i>
                                <span class="sr-only">Previous</span>
                            </a>
                        </li>
                        {% endif %}

                        {% for num in incubations.paginator.page_range %}
                        {% if incubations.number == num %}
                        <li class="page-item active">
                            <a class="page-link text-light" href="javascript:;">{{ num }}</a>
                        </li>
                        {% else %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                        </li>
                        {% endif %}
                        {% endfor %}

                        {% if incubations.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ incubations.next_page_number }}">
                                <i class="fa fa-angle-right"></i>
                                <span class="sr-only">Next</span>
                            </a>
                        </li>
                        {% else %}
                        <li class="page-item disabled">
                            <a class="page-link" href="javascript:;">
                                <i class="fa fa-angle-right"></i>
                                <span class="sr-only">Next</span>
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>

<!-- Delete Confirmation Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete Incubation</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this incubation?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <form action="" method="POST" id="deleteForm" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    // Add click event listener to each row
    document.querySelectorAll('.clickable-row').forEach(row => {
        row.addEventListener('click', function() {
            window.location = this.dataset.url;
        });
    });

    // Handle delete modal
    var deleteModal = document.getElementById('deleteModal');
    deleteModal.addEventListener('show.bs.modal', function (event) {
        var button = event.relatedTarget; // Button that triggered the modal
        var url = button.getAttribute('data-url'); // Extract info from data-* attributes
        var form = deleteModal.querySelector('#deleteForm');
        form.action = url; // Update the form action to the delete URL
    });
</script>
{% endblock %}