{% extends 'dashboard.html' %}
{% load static %}

{% block main %}
<div class="row">
    <div class="col-12 col-lg-8 mx-auto">
        <div class="card">
            <div class="card-body">
                <div class="multisteps-form">
                    <!-- Progress bar -->
                    <div class="row">
                        <div class="col-12 col-lg-8 mx-auto my-4">
                            <div class="multisteps-form__progress">
                                <button class="multisteps-form__progress-btn js-active" type="button" title="Medications Info">
                                    <span>1. Medications Info</span>
                                </button>
                                <button class="multisteps-form__progress-btn" type="button" title="Finish">2. Finish</button>
                            </div>
                        </div>
                    </div>
                    <!-- Form panels -->
                    <form class="multisteps-form__form mb-8" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <!-- Medications Information Panel -->
                        <div class="card multisteps-form__panel p-3 border-radius-xl bg-white js-active" data-animation="FadeIn">
                            <h5 class="font-weight-bolder">Medications Information</h5>
                            <div class="multisteps-form__content">
                                <div class="row mt-3">
                                    <div class="col-12 col-sm-6">
                                        <label class="form-label">Chicks</label>
                                        <select class="form-control" name="chick_item">
                                            <option value="" disabled selected>Select a chick batch</option>
                                            {% for chick_item in chick_items %}
                                                <option value="{{ chick_item.pk }}">{{ chick_item.batchnumber }} ({{ chick_item.item.code }}) | {{chick_item.created}}</option>
                                            {% endfor %}
                                        </select>
                                        {% if errors.chick_item %}
                                            <small class="text-danger">{{ errors.chick_item }}</small>
                                        {% endif %}
                                    </div>
                                    <div class="col-12 col-sm-6">
                                        <label class="form-label">Medicine Setting</label>
                                        <select class="form-control" name="medicinesetting">
                                            <option value="" disabled selected>Select an medication setting</option>
                                            {% for setting in medicinesettings %}
                                                <option value="{{ setting.pk }}">{{ setting.settingcode }} ( {{ setting.available_quantity }} Available) | {{setting.created}}</option>
                                            {% endfor %}
                                        </select>
                                        {% if errors.medicinesetting %}
                                            <small class="text-danger">{{ errors.medicinesetting }}</small>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="row mt-3">

                                    <div class="col-12 col-sm-6 mt-3 mt-sm-0">
                                        <label class="form-label">Medication quantity</label>
                                        <input class="form-control" type="number" placeholder="e.g., 10" name="medication_quantity"/>
                                        {% if errors.medication_quantity %}
                                            <small class="text-danger">{{ errors.medication_quantity }}</small>
                                        {% endif %}
                                    </div>
                                    
                                </div>
                                <div class="row mt-3">
                                    
                                    
                                </div>
                                <div class="button-row d-flex mt-4">
                                    <button class="btn bg-gradient-dark ms-auto mb-0 js-btn-next" type="button" title="Next">Next</button>
                                </div>
                            </div>
                        </div>
                        <!-- Finish Panel -->
                        <div class="card multisteps-form__panel p-3 border-radius-xl bg-white" data-animation="FadeIn">
                            <h5 class="font-weight-bolder">Finish</h5>
                            <div class="multisteps-form__content mt-3">
                                <div class="row mt-4">
                                    <div class="col-12">
                                        <p class="font-weight-bold">Review your information and click "Submit" to create the new medication.</p>
                                    </div>
                                </div>
                                <div class="button-row d-flex mt-4">
                                    <button class="btn bg-gradient-secondary mb-0 js-btn-prev" type="button" title="Prev">Prev</button>
                                    <button class="btn bg-gradient-dark ms-auto mb-0" type="submit" title="Submit">Submit</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}