{% extends 'dashboard.html' %}
{% load static %}

{% block main %}
<div class="row">
    <div class="col-12 col-lg-8 mx-auto">
      <div class="card">
        <div class="card-body">
          <div class="multisteps-form">
            <!-- Progress bar -->
            <div class="row">
              <div class="col-12 col-lg-8 mx-auto my-4">
                <div class="multisteps-form__progress">
                  <button class="multisteps-form__progress-btn js-active" type="button" title="Incubator Info">
                    <span>1. Incubator Info</span>
                  </button>
                  <button class="multisteps-form__progress-btn" type="button" title="Manufacturer Info">2. Manufacturer Info</button>
                  <button class="multisteps-form__progress-btn" type="button" title="Finish">3. Finish</button>
                </div>
              </div>
            </div>
            <!-- Form panels -->
            <form class="multisteps-form__form mb-8" method="POST" enctype="multipart/form-data">
              {% csrf_token %}
              <!-- Single form panel for Incubator Info -->
              <div class="card multisteps-form__panel p-3 border-radius-xl bg-white js-active" data-animation="FadeIn">
                <h5 class="font-weight-bolder">Incubator Information</h5>
                <div class="multisteps-form__content">
                  <div class="row mt-3">
                    <div class="col-12 col-sm-6">
                      <label>Hatchery</label>
                      <select class="multisteps-form__input form-control" name="hatchery">
                        <option value="">Select Hatchery</option>
                        {% for hatchery in hatcheries %}
                          <option value="{{ hatchery.id }}">{{ hatchery.name }}</option>
                        {% endfor %}
                      </select>
                    </div>
                    <div class="col-12 col-sm-6 mt-3 mt-sm-0">
                      <label>Incubator Type</label>
                      <input class="multisteps-form__input form-control" type="text" placeholder="e.g., Automatic" name="incubatortype" />
                    </div>
                  </div>
                  <div class="row mt-3">
                    <div class="col-12 col-sm-6">
                      <label>Manufacturer</label>
                      <input class="multisteps-form__input form-control" type="text" placeholder="e.g., BrandX" name="manufacturer" />
                    </div>
                    <div class="col-12 col-sm-6 mt-3 mt-sm-0">
                      <label>Model</label>
                      <input class="multisteps-form__input form-control" type="text" placeholder="e.g., Model123" name="model" />
                    </div>
                  </div>
                  <div class="row mt-3">
                    <div class="col-12 col-sm-6">
                      <label>Year</label>
                      <input class="multisteps-form__input form-control" type="text" placeholder="e.g., 2023" name="year" />
                    </div>
                    <div class="col-12 col-sm-6 mt-3 mt-sm-0">
                      <label>Code</label>
                      <input class="multisteps-form__input form-control" type="text" placeholder="e.g., INC001" name="code" />
                    </div>
                  </div>
                  <div class="button-row d-flex mt-4">
                    <button class="btn bg-gradient-dark ms-auto mb-0 js-btn-next" type="button" title="Next">Next</button>
                  </div>
                </div>
              </div>
              <!-- Single form panel for Manufacturer Info -->
              <div class="card multisteps-form__panel p-3 border-radius-xl bg-white" data-animation="FadeIn">
                <h5 class="font-weight-bolder">Manufacturer Info</h5>
                <div class="multisteps-form__content">
                  <div class="row mt-3">
                    <div class="col-12">
                      <label>Additional Manufacturer Details</label>
                      <textarea class="multisteps-form__input form-control" rows="5" name="manufacturer_details" placeholder="Any additional details about the manufacturer..."></textarea>
                    </div>
                  </div>
                  <div class="button-row d-flex mt-4">
                    <button class="btn bg-gradient-secondary mb-0 js-btn-prev" type="button" title="Prev">Prev</button>
                    <button class="btn bg-gradient-dark ms-auto mb-0 js-btn-next" type="button" title="Next">Next</button>
                  </div>
                </div>
              </div>
              <!-- Single form panel for Finish -->
              <div class="card multisteps-form__panel p-3 border-radius-xl bg-white" data-animation="FadeIn">
                <h5 class="font-weight-bolder">Finish</h5>
                <div class="multisteps-form__content mt-3">
                  <div class="row">
                    <div class="col-12">
                      <p class="font-weight-bold">Review your information and click "Submit" to create the new incubator.</p>
                    </div>
                  </div>
                  <div class="button-row d-flex mt-4">
                    <button class="btn bg-gradient-secondary mb-0 js-btn-prev" type="button" title="Prev">Prev</button>
                    <button class="btn bg-gradient-dark ms-auto mb-0" type="submit" title="Submit">Submit</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}